/* SelectAgeGroup.css */

/* Container Styling */
.container-fluid {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #1c1c1c, #2c3e50);
    padding: 30px;
}


.age-box
{
    background-image: linear-gradient(to right, #1c1c1c, #2c3e50);
  
}
/* Card Styling */
.card {
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
}


/* Input Styling */
.form-control {
    width: 80%; /* Adjust the width of the input */
    max-width: 400px; /* Set a maximum width for the input */
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    border-radius: 20px; /* Curve the sides of the input */
    padding: 10px;
    color: #fff; /* Text color */
    margin-bottom: 15px;
}
/* Warning Message */
.warning {
    color: #dc3545;
    font-size: 1rem;
    font-weight: bold;
}

/* Transition Effect */
button, input {
    transition: all 0.3s ease;
}