/* Survey.css */

.survey-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;

  background-image: linear-gradient(to right, #1c1c1c, #2c3e50);
}

.survey-card {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: linear-gradient(to right, #1c1c1c, #2c3e50);
}

.card-title {
    font-size: 2.00rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: #000;
    text-align: center;
}

.question-text {
    font-size: 1.50rem;
    margin-bottom: 20px;
    text-align: center;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: right;
}

.option-btn {
    padding: 20px;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #f8f9fa;
    color: #e7eef5;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
}

.option-btn:hover {
    background-color: #2e525a; /* Darker than previous #e9ecef */
}


.option-btn.selected {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.btn-primary,
.btn-secondary {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.btn-primary:hover {
    background-color: #333;
}

.btn-secondary {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.btn-secondary:hover {
    background-color: #f0f0f0;
}

.warning {
    color: #ff4444;
    font-size: 1rem;
    margin-top: 12px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}